@model Presentation.Models.Disease

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">@Model.Name</h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        @Model.Description
    </div>
</div>
