
@{
    ViewBag.Title = "Error";
}

<div class="m-alert m-alert--icon alert alert-danger" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-danger"></i>
    </div>
    <div class="m-alert__text">
        <strong>An Error has occured !</strong>
        You can send a alert only every 7 days !
    </div>
</div>

