@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "m-menu__link" })
        </li>
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"><a class = "m-menu__link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "m-menu__link" })</li>
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "m-menu__link" })</li>

}
